<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<br><br>
<div class="container">
{% for db_name,db_list in device_list.items() %}
<div class="row">
<div class = "panel panel-info">
   <div class = "panel-heading">
   <font size="4">	

      {% if db_name == "LIGHT_DB" %}
      <div class="row">
      <div class="col-md-10">
      Lighting Control
      </div>
      <div class="col-md-2">
      State
      </div>
      </div>
      {% endif %}

      {% if db_name == "TEMP_DB" %}
      <div class="row">
      <div class="col-md-10">
      Temperature Control
      </div>
      <div class="col-md-2">
      Temp 
      </div>
      </div>
      {% endif %}

      {% if db_name == "ACCESS_DB" %}
      <div class="row">
      <div class="col-md-7">
      Access Control
      </div>
      <div class="col-md-2">
      User Key 
      </div>
      <div class="col-md-3">
      Key Status
      </div>
      </div>
      {% endif %}

   </font>
   </div>
   
   <div class = "panel-body">
   <font size="4">	
   {% set start = 1 %}
   {% for device in db_list %}
   {% if start == 0 %}
   <hr>
   {% else %}
   {% set start = 0 %}
   {% endif %}

   <div class="row">
   {% if db_name == "LIGHT_DB" %}
   <div class="col-md-10">
       {{ device[1] }}
   </div>

   <form action="" method="post">
   <div class="col-md-2">
   {% if device[2] == "auto" %}
	<div class="col-sm-18">
	<input type = "submit" class="btn btn-default" name="{{ db_name }}/{{ device[0] }}/action" value="On">
	<input type = "submit" class="btn btn-default" name="{{ db_name }}/{{ device[0] }}/action" value="Off">
	<input type = "submit" class="btn btn-info" name="{{ db_name }}/{{ device[0] }}/action" value="Auto">
        </div>
   {% else %}
       {% if device[3] == "on" %}
	<div class="col-sm-18">
	<input type = "submit" class="btn btn-info" name="{{ db_name }}/{{ device[0] }}/action" value="On">
	<input type = "submit" class="btn btn-default" name="{{ db_name }}/{{ device[0] }}/action" value="Off">
	<input type = "submit" class="btn btn-default" name="{{ db_name }}/{{ device[0] }}/action" value="Auto">
        </div>
       {% else %}
	<div class="col-sm-18">
	<input type = "submit" class="btn btn-default" name="{{ db_name }}/{{ device[0] }}/action" value="On">
	<input type = "submit" class="btn btn-danger" name="{{ db_name }}/{{ device[0] }}/action" value="Off">
	<input type = "submit" class="btn btn-default" name="{{ db_name }}/{{ device[0] }}/action" value="Auto">
        </div>
       {% endif %}
   {% endif %}
   </div>
   </form>

   {% endif %}

   {% if db_name == "TEMP_DB" %}

   <div class="col-md-9">
       {{ device[1] }}
   </div>

   <form action="" method="post">
   <div class="col-md-3">
     <div class="col-sm-22">
       <input type = "submit" class="btn btn-default btn-sm" name="{{ db_name }}/{{ device[0] }}/incr" value="-5">
       <input type = "submit" class="btn btn-default btn-sm" name="{{ db_name }}/{{ device[0] }}/incr" value="-1">
       <button type="button" class="btn btn-info">{{ device[2] }}&deg;C</button>
       <input type = "submit" class="btn btn-default btn-sm" name="{{ db_name }}/{{ device[0] }}/incr" value="+1">
       <input type = "submit" class="btn btn-default btn-sm" name="{{ db_name }}/{{ device[0] }}/incr" value="+5">
      </div>
   </div>
   </form>

   {% endif %}

   {% if db_name == "ACCESS_DB" %}
   <div class="col-md-7">
       {{ device[1] }}
   </div>
   <div class="col-md-2">
      <button type="button" class="btn btn-info"> {{ device[3] }}</button>
   </div>

   <form action="" method="post">
   <div class="col-md-3">

   {% if device[4] == '1' %}
	<div class="col-sm-24">
	<input type = "submit" class="btn btn-info" name="{{ db_name }}/{{ device[0] }}/action" value="activate">
	<input type = "submit" class="btn btn-default" name="{{ db_name }}/{{ device[0] }}/action" value="deactivate">
	<input type = "submit" class="btn btn-default" name="{{ db_name }}/{{ device[0] }}/action" value="remove">
        </div>
   {% else %}
	<div class="col-sm-24">
	<input type = "submit" class="btn btn-default" name="{{ db_name }}/{{ device[0] }}/action" value="activate">
	<input type = "submit" class="btn btn-info" name="{{ db_name }}/{{ device[0] }}/action" value="deactivate">
	<input type = "submit" class="btn btn-default" name="{{ db_name }}/{{ device[0] }}/action" value="remove">
        </div>
   {% endif %}

   </div>
   </form>
   {% endif %}
   </div>
   {% endfor %}
   </font>
   </div>

   {% if db_name == "ACCESS_DB" %}
   <div class="panel-footer">
    <form class="form-inline" action="" method="post">
      <div class="form-group">
        <div class="input-group">
          <input type="text" class="form-control" placeholder="User" name="{{ db_name }}/addkey">
        </div>
      </div>
      <button type="submit" class="btn btn-info">add card</button>
    </form>    
   </div>
   {% endif %}

</div>
</div>
{% endfor %}
</div>


{% endblock %}
