<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}

<br><br>
<div class="container">
<div class="row">
<div class = "panel panel-info">
   <div class = "panel-heading">
   <font size="4">	
      Support Matrix
   </font>
   </div>
   
   <div class = "panel-body">
   <font size="4">	
   {% set start = 1 %}
   {% for feature in feature_list %}
   {% if start == 0 %}
   <hr>
   {% else %}
   {% set start = 0 %}
   {% endif %}
   <div class="row">
   <div class="col-md-10">
       {{ feature[0] }}
   </div>
   <div class="col-md-2">
       {{ feature[1] }}
   </div>
   </div>
   {% endfor %}
   </font>
   </div>
</div>
</div>
</div>


{% endblock %}
