<html>
  <head>
    <title>{{ app_name }}</title>
    <link href="static/css/bootstrap.min.css" rel="stylesheet" media="screen">
    <script src="static/js/bootstrap.min.js"></script>
  </head>

  <body>
    <br><br><br>
    <div class="container">
	<div class="jumbotron">
	  <h3>Login to Auto Home</h3>
	  <br><br>

	      <form action="" method="post" class="form-horizontal">

				<div class="form-group">
				<label for="username" class="col-sm-2 control-label">Username</label>
				<div class="col-sm-6">
					<input type="text" class="form-control" placeholder="Username" name="username">
				</div>
				</div>

				<div class="form-group">
				<label for="password" class="col-sm-2 control-label">Password</label>
                <div class="col-sm-6">
			        <input type="password" class="form-control" placeholder="Password" name="password">
				</div>
				</div>

				<br>

				<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
				    <input class="btn btn-primary" type="submit" value="Login">
				</div>
				</div>

				{% if error %}
				    <p class="error"><strong>Error:</strong> {{ error }}</p>
			    {% endif %}

	      </form>

	</div>
    </div>	
  </body>

</html>
