<!-- extend base layout -->
{% extends "base.html" %}

{% block meta %}
<meta http-equiv="refresh" content="2">
{% endblock %}:

{% block content %}

<br><br>
<div class="container">
{% for db_name,db_list in device_list.items() %}
<div class="row">
<div class = "panel panel-info">
   <div class = "panel-heading">
   <font size="4">	

      {% if db_name == "LIGHT_DB" %}
      <div class="row">
      <div class="col-md-6">
      Lighting Control
      </div>
      <div class="col-md-2">
      Device Status
      </div>
      <div class="col-md-2">
      Device Mode
      </div>
      <div class="col-md-2">
      Status
      </div>
      </div>
      {% endif %}

      {% if db_name == "TEMP_DB" %}
      <div class="row">
      <div class="col-md-4">
      Temperature Control
      </div>
      <div class="col-md-2">
      Device Status
      </div>
      <div class="col-md-2">
      Config Temp
      </div>
      <div class="col-md-2">
      Current Temp
      </div>
      <div class="col-md-2">
      Status
      </div>
      </div>
      {% endif %}

      {% if db_name == "ACCESS_DB" %}
      <div class="row">
      <div class="col-md-8">
      Access Control
      </div>
      <div class="col-md-2">
      Key Status
      </div>
      <div class="col-md-2">
      User Status
      </div>
      </div>
      {% endif %}

   </font>
   </div>
   
   <div class = "panel-body">
   <font size="4">	
   {% set start = 1 %}
   {% for device in db_list %}
   {% if start == 0 %}
   <hr>
   {% else %}
   {% set start = 0 %}
   {% endif %}

   <div class="row">
   {% if db_name == "LIGHT_DB" %}
   <div class="col-md-6">
       {{ device[1] }}
   </div>

   <div class="col-md-2">
   {% if device[2] == "up" %}
      <button type="button" class="btn btn-success">online</button>
   {% else %}
      <button type="button" class="btn btn-danger">offline</button>
   {% endif %}
   </div>

   <div class="col-md-2">
   {% if device[2] == "up" %}
      {% if device[3] == "auto" %}
          <button type="button" class="btn btn-success">auto</button>
      {% else %}
          <button type="button" class="btn btn-warning">manual</button>
      {% endif %}
   {% else %}
      <button type="button" class="btn btn-danger">offline</button>
   {% endif %}
   </div>

   <div class="col-md-2">
   {% if device[2] == "up" %}
      {% if device[4] == "on" %}
          <button type="button" class="btn btn-success">on</button>
      {% else %}
          <button type="button" class="btn btn-danger">off</button>
      {% endif %}
   {% else %}
      <button type="button" class="btn btn-danger">offline</button>
   {% endif %}
   </div>
   {% endif %}

   {% if db_name == "TEMP_DB" %}
   <div class="col-md-4">
       {{ device[1] }}
   </div>

   <div class="col-md-2">
   {% if device[2] == "up" %}
      <button type="button" class="btn btn-success">online</button>
   {% else %}
      <button type="button" class="btn btn-danger">offline</button>
   {% endif %}
   </div>

   <div class="col-md-2">
   {% if device[2] == "up" %}
      <button type="button" class="btn btn-info">{{ device[3] }}&deg;C</button>
   {% else %}
      <button type="button" class="btn btn-danger">offline</button>
   {% endif %}
   </div>
   <div class="col-md-2">
   {% if device[2] == "up" %}
      <button type="button" class="btn btn-info">{{ device[4] }}&deg;C</button>
   {% else %}
      <button type="button" class="btn btn-danger">offline</button>
   {% endif %}
   </div>
   <div class="col-md-2">
   {% if device[2] == "up" %}
       {% if device[5] == "on" %}
          <button type="button" class="btn btn-success">on</button>
       {% else %}
          <button type="button" class="btn btn-danger">off</button>
       {% endif %}
   {% else %}
      <button type="button" class="btn btn-danger">offline</button>
   {% endif %}
   </div>
   {% endif %}

   {% if db_name == "ACCESS_DB" %}
   <div class="col-md-8">
       {{ device[1] }}
   </div>
   <div class="col-md-2">
   {% if device[2] == "up" %}
      {% if device[4] == '1' %}
      <button type="button" class="btn btn-success">activated</button>
      {% else %}
      <button type="button" class="btn btn-danger">deactivated</button>
      {% endif %}
   {% else %}
      <button type="button" class="btn btn-danger">offline</button>
   {% endif %}
   </div>
   <div class="col-md-2">
   {% if device[2] == "up" %}
      {% if device[5] == '1' %}
      <button type="button" class="btn btn-success">in</button>
      {% else %}
      <button type="button" class="btn btn-info">out</button>
      {% endif %}
   {% else %}
      <button type="button" class="btn btn-danger">offline</button>
   {% endif %}
   </div>

   {% endif %}
   </div>
   {% endfor %}

   </font>
   </div>
</div>
</div>
{% endfor %}
</div>


{% endblock %}
